- id: "ory:kratos:public"
  upstream:
    preserve_host: true
    url: "http://test-kratos-public:4433"
    strip_path: /.ory/kratos/public
  match:
    url: "http://ory.test.info/.ory/kratos/public/<**>"
    methods:
      - GET
      - POST
      - PUT
      - DELETE
      - PATCH
      - OPTIONS
  authenticators:
    - handler: noop
  authorizer:
    handler: allow
  mutators:
    - handler: noop

- id: "ory:kratos:admin"
  upstream:
    preserve_host: true
    url: "http://test-kratos-admin:4434"
    strip_path: /.ory/kratos/private
  match:
    url: "http://ory.test.info/.ory/kratos/private<**>"
    methods:
      - GET
      - POST
      - PUT
      - DELETE
      - PATCH
      - OPTIONS
  authenticators:
    - handler: cookie_session
  authorizer:
    handler: remote_json
    config:
      remote: http://keto-api:4456/relation-tuples/check
      payload: |
        {
          "namespace": "access",
          "object": "administration",
          "relation": "access",
          "subject_id": "{{print .Extra.identity.id }}"
        }
  mutators:
    - handler: id_token

- id: "ory:kratos-admin-ui-node:protected"
  upstream:
    preserve_host: true
    url: "http://admin-ui:3000"
  match:
    url: "http://ory.test.info/config.json"
    methods:
      - GET
  authenticators:
    - handler: cookie_session
  authorizer:
    handler: remote_json
    config:
      remote: http://keto-api:4456/relation-tuples/check
      payload: |
        {
          "namespace": "access",
          "object": "administration",
          "relation": "access",
          "subject_id": "{{print .Extra.identity.id }}"
        }
  mutators:
    - handler: id_token
  errors:
    - handler: redirect
      config:
        to: http://ory.test.info/panel/welcome

- id: "ory:kratos-admin-ui-node:protected"
  upstream:
    preserve_host: true
    url: "http://admin-ui:3000"
  match:
    url: "http://ory-admin.test.info/identities<**>"
    methods:
      - GET
  authenticators:
    - handler: cookie_session
  authorizer:
    handler: remote_json
    config:
      remote: http://keto-api:4456/relation-tuples/check
      payload: |
        {
          "namespace": "access",
          "object": "administration",
          "relation": "access",
          "subject_id": "{{print .Extra.identity.id }}"
        }
  mutators:
    - handler: id_token
  errors:
    - handler: redirect
      config:
        to: http://ory.test.info/panel/welcome

- id: "ory:kratos-api:protected"
  upstream:
    preserve_host: true
    url: "http://selfservice:4455"
    strip_path: /api/admin
  match:
    url: "http://ory-admin.test.info/api/admin{**}"
    methods:
      - GET
      - POST
      - PUT
      - DELETE
      - PATCH
      - OPTIONS
  authenticators:
    - handler: cookie_session
  authorizer:
    handler: remote_json
    config:
      remote: http://keto-api:4456/relation-tuples/check
      payload: |
        {
          "namespace": "access",
          "object": "administration",
          "relation": "access",
          "subject_id": "{{print .Extra.identity.id }}"
        }
  mutators:
    - handler: id_token

- id: "ory:kratos-api:anonymous"
  upstream:
    preserve_host: true
    url: "http://selfservice:4455"
    strip_path: /api/public
  match:
    url: "http://ory.test.info/api/public/{**}"
    methods:
      - GET
  authenticators:
    - handler: anonymous
  authorizer:
    handler: allow
  mutators:
    - handler: noop

- id: "ory:kratos-selfservice-ui-node:anonymous"
  upstream:
    preserve_host: true
    url: "http://selfservice:4455"
    strip_path: /panel
  match:
    url: "http://ory.test.info/panel/<{welcome,sessions,registration,verification,recovery,login,**.css,**.js,**.png,**.ttf,**.svg,**.woff,**.woff2}{/,}>"
    methods:
      - GET
  authenticators:
    - handler: anonymous
  authorizer:
    handler: allow
  mutators:
    - handler: noop

- id: "ory:kratos-selfservice-ui-node:protected"
  upstream:
    preserve_host: true
    url: "http://selfservice:4455"
    strip_path: /panel
  match:
    url: "http://ory.test.info/panel/<{debug,panel,settings}>"
    methods:
      - GET
  authenticators:
    - handler: cookie_session
  authorizer:
    handler: remote_json
    config:
      remote: http://keto-api:4456/relation-tuples/check
      payload: |
        {
          "namespace": "access",
          "object": "application",
          "relation": "access",
          "subject_id": "{{print .Extra.identity.id }}"
        }
  mutators:
    - handler: id_token
  errors:
    - handler: redirect
      config:
        to: http://ory.test.info/panel/welcome
